:root {
  --bg-color: #2c3e50;
  --normal-color: #bdc3c7;
  --hover-color: #3498db;
  --active-color: #e74c3c;
  --placeholder-color: #798092;
}
 
* {
  font-family: serif, Times;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  background-color: var(--bg-color);
  color: var(--normal-color);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
}

.wraper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 1em 3em;
}

form div {
  font-size: 1em;
  text-align: center;
}

.input_caption {
  padding-right: 1em;
}

.result {
  margin: 0 1em 0.5em 0;
}

input[type="number"], 
input[type="text"],
input[type="datetime-local"],
textarea {
  width: 100%;
  margin: 0.5em 0;
  border: 1px solid;
  border-radius: 4px;
  background: none;
  font-size: 1.2em;
  text-align: center;
  color: var(--normal-color);
}

input[type="number"]:focus,
input[type="text"]:focus,
input[type="datetime-local"]:focus,
textarea:focus {
  outline: none;
  border-color: var(--hover-color);
}

input[type="button"] {
  width: 6em;
  height: 2em;
  margin: 1em 1em 1em 0;
  font-size: 1.2em;
  border-radius: 4px;
  border: none;
  background-color: var(--normal-color);
  color: var(--bg-color);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type="button"]:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

input[type="button"]:focus {
  outline: none;
  cursor: pointer;
}

input[type="button"]:active {
  background-color: var(--active-color);
  color: var(--normal-color);
  cursor: pointer;
}

textarea {
  resize: none;
}

hr {
  width: 100%;
  border: 1px solid var(--normal-color);
  margin: 0 0 2em;
}

/* Chess board style */

.board,
.board__row,
.board__cell {
  margin: 0;
  padding: 0;
}

.board {
  border: 1px solid var(--normal-color);
  display: flex;
  flex-direction: column;
}

.board__row {
  display: flex;
}

.board__cell {
  width: 20px;
  height: 20px;
}

.board__cell--light {
  background-color: var(--normal-color);
}

/* End of chess board style */

/* Web links */
.result a,
.result a:visited {
  color: var(--normal-color);
}

/* Placeholder style */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-color: var(--placeholder-color);
}
::-moz-placeholder { /* Firefox 19+ */
  font-color: var(--placeholder-color);
}
:-ms-input-placeholder { /* IE 10+ */
  font-color: var(--placeholder-color);
}
:-moz-placeholder { /* Firefox 18- */
  font-color: var(--placeholder-color);
}
