html, body {
    margin: 0;
}

body, form {
    background-color: #b9c783;
}

.spectrum {
    display: grid;
    height: 13px;
    grid-template-columns: repeat(10, 1fr);
}

.title {
    text-align: center;
    margin: 80px auto 30px;
    font-family: "Pacifico", serif;
    font-size: 80px;
    color: #fffecd;
}

.login-form {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    width: 330px;
}

label {
    display: inline-block;
    font-family: "Montserrat", serif;
    font-weight: bold;
    margin: 28px 0 11px;
    color: #635960;
}

.shadow {
    display: block;
    position: absolute;
    transform: rotate(-20deg);
    transform-origin: top left;
    background-image: linear-gradient(rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0));
    width: 328px;
    height: 300px;
    z-index: -10;
}

input {
    margin: 0;
    width: 100%;
    border: none;
    font-family: "Montserrat", serif;
    font-weight: bold;
    box-sizing: border-box;
    outline: none;
}

input[type="text"],
input[type="password"] {
    font-size: 14px;
    padding: 15px;
    background-color: #fffecd;
    color: #635960;
}

input[type="submit"] {
    background-color: #635960;
    color: #fffecd;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    margin-top: 44px;
    cursor: pointer;
}

/* Background of input at autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fffecd inset !important;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #635960 !important;
}

.chat {
    width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 465px 135px;
    grid-gap: 25px;
}

.chat__messages {
    display: block;
    width: 100%;
    height: 300px;
    background-color: #fffecd;
    grid-column: 1/3;
    overflow-y: scroll;
    padding: 0 10px;
    font-family: Montserrat, serif;
    color: #121302;
}

input[type="text"].chat__input {
    color: #121302;
}

.chat__messages .post {
    margin: 10px;
}

.post span.author {
    font-weight: bold;
}

img.smile {
    position: relative;
    top: 2px;
}

input[type="submit"].chat__submit {
    display: block;
    margin: 0;
}

a.log-out,
a.log-out:visited {
    position: absolute;
    top: 20px;
    right: 10px;
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: bold;
    color: #fffecd;
}

.invalid-input {
    border: red 1px solid;
}

.alarm {
    color: red;
    display: block;
    font-size: 12px;
}

a.log-out:hover {
    text-decoration: none;
}

.darkGrayBg {
    background-color: #635960;
}

.darkKhakiBg {
    background-color: #8b8e59;
}
.khakiBg {
    background-color: #eada7d;
}
.lightYellowBg {
    background-color: #fffecd;
}
.aquamarineBg {
    background-color: #7bc3ab;
}
