/*--- General ---*/

html,
body,
header,
footer {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #1abc9c;
  flex-direction: column;
  justify-content: center;
}

/*--- Header ---*/

header {
  background-color: white;
  justify-content: space-around;
  align-items: center;
  padding: 4px 0;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu ul li  {
  float: left;
}

.main-menu ul li a,
.main-menu ul li a:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 40px;
  color: #2c3e50;
}

.logo {
  font-size: 64px;
  font-weight: bold;
}

.logo a,
.logo a:visited {
  text-decoration: none;
  color: black;
}

.logo span {
  color: #1abc9c;
  margin-left: 8px;
}

/*--- Body ---*/

body {
  flex-direction: column;
}
