/*--- General ---*/

html,
body,
header,
footer {
  display: flex;
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: #1abc9c;
  flex-direction: column;
  justify-content: center;
}

/*--- Header ---*/

header {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8%;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu ul li  {
  float: left;
}

.main-menu ul li a,
.main-menu ul li a:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 60px;
  color: #2c3e50;
}

.main-menu ul li a:hover {
  color: #1abc9c;
}

.logo {
  font-size: 64px;
  font-weight: bold;
}

.logo a,
.logo a:visited {
  text-decoration: none;
  color: black;
}

.logo span {
  color: #1abc9c;
  margin-left: 8px;
}

/*--- Body ---*/

body {
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: flex-start;
}

.banner img {
  display: block;
  margin: 60px 11% 50px 19%;
}

.banner__article {
  display: block;
  color: white;
  margin: 130px 5% 30px 0;
}

.banner__article h1 {
  font-weight: 600;
  margin: 0;
}

.banner__article p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 44px 0;
}

.banner__article button {
  margin: 0;
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.banner__article button:hover {
  background-color: white;
  color: #1abc9c;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 58px 5% 80px;
}

.content__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__article__icon {
  display: inline-block;
  padding: 22px;
  align: center;
  background: #1abc9c;
  border-radius: 50%;
  font-size: 5px;
}

.content__article__icon img {
  margin: 0;
  padding: 0;
}

.content__article h2 {
  font-size: 1.3em;
}

.content__article p {
  text-align: center;
  line-height: 1.4em;
}
