@font-face {
    font-family: "Black Jack";
    src: url("../fonts/BLACKJAR.TTF");
}

header {
    background-image: url('../img/blue-pattern.jpg');
    background-color: #4eacdd;
    background-repeat: repeat;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

header .container {
    position: relative;
    height: 651px;
}

.logo {
    font-family: "Kaushan Script", serif;
    width: 100px;
    height: 92px;
    background-color: white;
    text-align: center;
    color: #0da9e5;
    font-size: 50px;
    padding-top: 8px;
    border-bottom: #0da9e5 solid 4px;
    box-shadow: 13px 11px #55c3ed;
}

h1 {
    font-family: "Black Jack", serif;
    font-weight: 100;
    text-align: right;
}

h1 span.description {
    display: block;
    font-family: "Montserrat", serif;
    font-size: 24px;
}

nav.icon {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 22px;
}

.icon__bar {
    margin: 0;
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
}

section.intro {
    height: 1000px;
}
