/*--- General ---*/

:root {
  --bg-main: #1abc9c;
  --nav-links: #2c3e50;
  --bg-footer: #16a085;
  --placeholder: #999;
}

html,
body,
header,
footer, 
form {
  display: flex;
  margin: 0;
  padding: 0;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

html {
  background-color: var(--bg-main);
  flex-direction: column;
  justify-content: center;
  scroll-behavior: smooth;
}

/*--- Header ---*/

header {
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 4px 8%;
}

.main-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-menu ul li  {
  float: left;
}

.main-menu ul li a,
.main-menu ul li a:visited {
  display: block;
  text-align: center;
  text-decoration: none;
  margin-left: 60px;
  color: var(--nav-links);
}

.main-menu ul li a:hover {
  color: var(--bg-main);
}

.logo {
  font-size: 64px;
  font-weight: bold;
}

.logo a,
.logo a:visited {
  text-decoration: none;
  color: black;
}

.logo span {
  color: var(--bg-main);
  margin-left: 8px;
}

button {
  margin: 0;
  background-color: var(--bg-main);
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5em;
  border: 2px solid white;
  border-radius: 6px;
  outline: none;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: white;
  color: var(--bg-main);
  cursor: pointer;
}


/*--- Body ---*/

body {
  flex-direction: column;
}

.banner {
  display: flex;
  align-items: flex-start;
}

.banner img {
  display: block;
  margin: 60px 11% 50px 19%;
}

.banner__article {
  display: block;
  color: white;
  margin: 130px 5% 30px 0;
}

.banner__article h1 {
  font-weight: 600;
  margin: 0;
}

.banner__article p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.4em;
  margin: 44px 0;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 58px 5% 64px;
}

.content__article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__article__icon {
  display: flex;
  background: var(--bg-main);
  border-radius: 50%;
  font-size: 5px;
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: white;
}

.content__article h2 {
  font-size: 1.3em;
  margin-bottom: 0;
}

.content__article p {
  text-align: center;
  line-height: 1.5em;
  margin: 0 0.5em;
}

/*--- General ---*/

footer {
  background-color: var(--bg-footer);
  color: white;
  flex-direction: column;
  align-items: center;
  padding: 36px 0;
}

form {
  flex-direction: column;
  width: 600px;
}

footer h1 {
  font-size: 2em;
  margin-bottom: 50px;
}

input,
textarea {
  padding: 5px;
  margin-bottom: 8px;
  font-size: 1.2em;
}

.fileinput {
  background-color: white;
}

form div {
  margin: 10px 0 0;
  padding: 0;
  color: white;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.description {
  font-size: 0.7em;
  margin: 0 1em 0 0.7em;
}

label {
  display: flex;
  justify-content: flex-start;
}

input[type="radio"],
input[type="checkbox"] {
  float: right;
  order: -1;
  margin: 0.1em 0.5em 0.1em 0;
}

footer button {
  background-color: var(--bg-footer);
  padding: 12px 60px;
  margin: 60px 0;
}

footer button:hover {
  color: var(--bg-footer);
}

/* Placeholder styling */
::-webkit-input-placeholder { /* Edge */
  color: var(--placeholder);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder);
}

::placeholder {
  color: var(--placeholder);
}
