html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/page-bg.png");
  background-repeat: repeat;
  background-color: #555;
  display: flex;
  font-family: serif, times;
  font-style: normal;
}

.left,
.right {
  flex: 1;
  align: center;
}

.left {
  background-image: url("../img/got.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160% auto;
  align: center;
}

.right {
  color: #d3bc8d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "game-of-thrones";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/game-of-thrones.ttf")  format('truetype');
}

h1 {
  font-family: "game-of-thrones";
  font-size: 2.2em;
  text-align: center;
  margin: 0;
}

h2 {
  margin: 0;
  font-weight: 100;
  font-size: 1.5em;
}

.description {
  color: #ddd;
  font-family: sans-serif;
  font-size: 1em;
}

hr {
  height: 3px;
  background-color: #d3bc8d;
  border: none;
  margin-bottom: 2em;
}

form {
  width: 62%;
  margin: 3em 0 0;
}

input[type="email"],
input[type="password"],
input[type="text"],
textarea,
select {
  border: none;
  background: transparent;
  color: #757575;
  font-family: sans-serif;
  font-size: 1.3em;
  margin: 0.5em 0;
}

input[type="checkbox"] {
  transform: scale(2);
  margin: 0 0.5em 0 0;
  background-color: #d3bc8d;
}

textarea,
select {
  width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

select {
  color: #ddd;
}

select option {
  background-color: #202020;
}

select option:focus {
  background-color: #d3bc8d;
}

input[type="button"] {
  display: block;
  width: 100%;
  margin: 3em 0 0;
  height: 2.8em;
  background-color: #c0994f;
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type="button"]:hover {
  background-color: #d3bc8d;
  color: #111;
}

blockquote {
  border-left: 3px solid #d3bc8d;
  margin: 0 10px 3em 0;
  padding: 0.3em 20px;
}
blockquote p {
  display: inline;
  color: #ddd;
  font-size: 1.1em;
  font-family: sans-serif;
}


/* Checkbox with a custom background color, from the following website:
https://stackoverflow.com/questions/34388696/how-to-change-the-background-color-on-a-input-checkbox-with-css/34389136 */
.box {
  margin: 0;
}
.box__element {
  width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
}

.box__element input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}
.box__element label {
    position: relative;
}
.box__element label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    transition: transform 0.28s ease;
    border-radius: 3px;
    border: 2px solid #d3bc8d;
    background-color: #d3bc8d; 
}
.box__element label:after {
  content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #111;
    border-left: 2px solid #111;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 6px;
    left: 6px;
}
.box__element input[type="checkbox"]:checked ~ label::before {
    color: #d3bc8d;
}

.box__element input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.box__element label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: sub;
    font-family: serif, times;
    font-size: 1.5em;
    font-weight: normal;
}
.box__element label span {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.box__element input[type="checkbox"]:focus + label::before {
    outline: 0;
}
/* End of the section (checkbox with a custom background color) */
